<div id="installer">
  <h1 id="splash">Install Warehouse</h1>
  <div class="overlay-content">

<% if @message.blank? -%>
  <h2>Lets get started</h2>
<% else -%>
  <div id="error">
    <h2>An error occurred</h2>
    <p><%= @message %></p>
  </div>
<% end -%>

  <% form_for @repository, :url => install_path do |f| -%>
  <div class="overlay-form oform">
    <%= error_messages_for :repository %>
    <% if @repository.new_record? -%>
    <p>
      <label for="domain">Domain name you're installing on 
        <span class="help">
          If you have installed something else at the root of this domain (a blog, website, etc.) this should 
          include a subdomain (e.g. svn.domain.com)
        </span>
      </label>
      <%= text_field_tag :domain, (params[:domain] || request.host), :size => 40 %>
    </p>
    <p>
      <label for="repository_name">Repository Name</label>
      <%= f.text_field :name, :size => 40 %>
      <span id="finaldomain"><span>Your first repo will be located at:</span> ... </span>
    </p>
    <p>
      <label for="license">Your license #</label>
      <%= text_field_tag :license, params[:license], :size => 40 %>
    </p>
    <p>
      <label for="repository_path">Absolute path to repository</label>
      <%= f.text_field :path, :size => 40 %>
    </p>
    <% else -%>
    <p><%=h @message %></p>
    <% end -%>
    <p>
      <label for="openid_url">Open ID Address
        <span class="help">
          This will create your initial user account to administer your Warehouse repositories.
        </span>
      </label>
      <%= text_field_tag :openid_url, params[:openid_url], :size => 40 %>
    </p>
    </div>
    <p class="btns">
      <%= submit_image 'install.png' %>
    </p>
  <% end -%>
  </div>
</div>

<% content_for :onready do %>
 var finaldomain = $('finaldomain');
 var domain = $('domain');
 new Form.Element.Observer('repository_name', 0.2, function(e, v) {
   finaldomain.update("<span>Your first repo will be located at:</span> " + v.toLowerCase().strip().gsub(/\s+/, '-').dasherize() + "." + $F(domain));
 });
<% end %>