<div id="installer">
  <h1 id="splash">Install Warehouse</h1>
  <div class="overlay-content">
    <h2>Thanks for installing Warehouse, enjoy!</h2>
    
    <div class="overlay-form oform">
      <p style="line-height:140%;font-weight:bold">
        You're setup and ready to go.  We're now syncing <%= pluralize @repository.latest_revision, 'revision' %> of the <%=h @repository.name %> repo.
        This will import your repositories revision data into the Warehouse database, and may take a few minutes.  You can jump to
        to <%= link_to 'your repository', root_url(:host => "#{@repository.subdomain}.#{Warehouse.domain}") %> at any time and continue
        this process in the Repository admin.
      </p>
    
      <p>
        <label for="progress">Sync progress</label>
        <span id="import-progress">
          <span id="pbar-percent">0%</span><span id="pbar"></span>
        </span>
      </p>
    </div>
    <p class="btns">
      <%= submit_image 'import.png' %>
    </p>
  </div>
</div>

<% content_for :onready do -%>
Importer.id = 4
Importer.step(<%= @repository.sync_progress %>);
<% end -%>