<div id="installer">
  <h1 id="splash">Install Warehouse</h1>
  <div class="overlay-content">
    <h2>Thanks for installing Warehouse, enjoy!</h2>
    
    <div class="overlay-form oform">
      <h3 style="padding:10px">Sync your repository</h3>
      <p>In order to view the changesets of this repository you need to sync <%= pluralize @repository.latest_revision, 'revision' %>.</p>
      <% if @repository.latest_revision >= 5000 %>
      <p style="line-height:140%;">
        It appears you have over 5000 changesets. Syncing from <code>rake</code> is much faster.
        <pre><code>rake warehouse:sync REPO=<%= repository_subdomain %> RAILS_ENV=<%= RAILS_ENV %></code></pre> 
      </p>
      <% else %>
      <p style="margin:10px 0">
        Press the sync button now to get started syncing your repository.
      </p>
      <% end %>
      <p>
        <label for="progress">Sync progress</label>
        <span id="import-progress">
          <span id="pbar-percent">0%</span><span id="pbar"></span>
        </span>
      </p>
    </div>
    <p class="btns">
      <%= submit_image 'sync.png', :id => 'sync' %>
    </p>
  </div>
</div>

<% content_for :onready do -%>
Importer.id = <%= @repository.id %>
<% end -%>