<div id="installer">
  <h1 id="splash">Install Warehouse</h1>
  <div class="overlay-content">
    <h2>Thanks for installing Warehouse, enjoy!</h2>
    
    <% if @repository.backend -%>
    <div class="overlay-form oform">
      <h3 style="padding:10px">Sync your repository</h3>
      <p>In order to view the changesets of this repository you need to sync <%= pluralize @repository.latest_revision, 'revision' %>.</p>
      <% if @repository.latest_revision >= 5000 %>
      <p style="line-height:140%;">
        It appears you have over 5000 changesets. Syncing from <code>rake</code> is much faster.
        <pre><code>rake warehouse:sync REPO=<%=h @repository.subdomain %> RAILS_ENV=<%= RAILS_ENV %></code></pre> 
      </p>
      <% else %>
      <p style="margin:10px 0">
        Press the sync button now to get started syncing your repository.  Optionally, you can <%= link_to 'proceed on to your 
        repository', hosted_url(@repository, :browser) %>.
      </p>
      <% end %>
      <p>
        <label for="progress">
          Sync progress
          <img id="indicator" src="/images/app/progress.gif" style="display:none" />
        </label>
        <span id="import-progress">
          <span id="pbar-percent">0%</span><span id="pbar"></span>
        </span>
      </p>
    </div>
    <p class="btns">
      <%= submit_image 'sync.png', :id => 'sync' %>
    </p>
    <% else -%>
    <div class="overlay-form oform">
      <h3 style="padding:10px">Your Repository Path is Invalid</h3>
      <p>I was unable to access your repository at <%=h @repository.path %>.  Visit the <%= link_to 'Repository Admin', hosted_url(@repository, :admin) %> to fix this.</p>
    </div>
    <% end -%>
  </div>
</div>

<% content_for :javascript do -%>
Event.addBehavior({
  '#sync:click':function(e) {
    var initialImporter = new Importer(<%= @repository.id %>, {
      onImported: function() {
        document.location = "<%= hosted_url(@repository, :browser) %>";
      },
      
      onStep: function(progress) {
        $('pbar-percent').update(progress + "%");
        $('pbar').setStyle({width: progress + '%'});
      }
    });
    $('indicator').show();
    initialImporter.step();
  }
});
<% end -%>