<%= render :partial => "admin/tabs" %>

<% if request.post? -%>
<div class="notice">Your settings have been saved.</div>
<% else -%>
<div class="info">
  Please see <a href="http://warehouseapp.com/faqs/what-are-these-admin-settings-for">the documentation for this page</a> to help you 
  better understand what these settings do.
</div>
<% end -%>

<div id="commands">
<% form_tag settings_path do -%>
  <p class="command">
    <label for="settings_permission_command">
      Shell command to run when permissions are updated
      <span class="help">When permissions are updated, this shell command is executed.</span>
    </label>
    <%= text_field_tag :settings_permission_command, params[:settings][:permission_command] || Warehouse.permission_command, 
      :size => 40, :name => 'settings[permission_command]' %>
  </p>
  <p class="command">
    <label for="settings_password_command">
      Shell command to run when someone's password is updated.
      <span class="help">When you update a persons password, this command is executed. (e.g. rake warehouse:build_htpasswd CONFIG=config/htpasswd.conf)</span>
    </label>
    <%= text_field_tag :settings_password_command, params[:settings][:password_command] || Warehouse.password_command, 
      :size => 40, :name => 'settings[password_command]' %>
  </p>
  
  <p class="command">
    <label>
      <%= check_box_tag :settings_syncing, params[:settings][:syncing] || Warehouse.sync? %>
      Sync Changesets automatically 
    </label>
    (Turn this off and setup a post-commit hook in subversion to speed Warehouse up)
  </p>

  <p class="command">
    <ul>
      <li><label><%= radio_button_tag :settings_caching, 'fs', (params[:settings][:caching] || Warehouse.caching) == 'fs', 
        :name => 'settings[caching]' %> Filesystem Caching</label> - Caches the common browser/changeset/history pages to the filesystem for much faster access.  Cached files are located in <em><%= File.join(RAILS_ROOT, 'tmp', 'cache') %></em></li>
      <li><label><%= radio_button_tag :settings_caching, '',   (params[:settings][:caching] || Warehouse.caching).blank?,  
        :name => 'settings[caching]' %> No Caching</label></li>
    </ul>
  </p>

  <p class="command">
    <label for="settings_mail_from">
      Email address that email notifications are sent from.
      <span class="help">Reply to/From address used when adding new members.</span>
    </label>
    <%= text_field_tag :settings_mail_from, params[:settings][:mail_from] || Warehouse.mail_from, 
      :size => 40, :name => 'settings[mail_from]' %>
  </p>
  <p class="command">
    <label for="settings_mail_type">Mail Server Type</label>
    <select name="settings[mail_type]" id="settings_mail_type">
      <%= options_for_select([%w(SMTP smtp), 'sendmail'], params[:settings][:mail_type] || Warehouse.mail_type) %>
    </select>
  </p>
  
  <fieldset id="mail_smtp"<%= %( style="display:none") if (params[:settings][:mail_type] || Warehouse.mail_type) == 'sendmail' %>>
    <legend>SMTP Mail Settings</legend>
    <p>
      <label for="settings_mail_address">Address</label>
      <%= text_field_tag :settings_mail_address, params[:settings][:smtp_settings][:address] || Warehouse.smtp_settings[:address] || :localhost, 
        :size => 40, :name => 'settings[smtp_settings][address]' %>
    </p>
    <p>
      <label for="settings_mail_port">Port</label>
      <%= text_field_tag :settings_mail_port, params[:settings][:smtp_settings][:port] || Warehouse.smtp_settings[:port] || 25, 
        :size => 40, :name => 'settings[smtp_settings][port]' %>
    </p>
    <p>
      <label for="settings_mail_domain">Domain</label>
      <%= text_field_tag :settings_mail_domain, params[:settings][:smtp_settings][:domain] || Warehouse.smtp_settings[:domain], 
        :size => 40, :name => 'settings[smtp_settings][domain]' %>
    </p>
    <p>
      <label for="settings_mail_user_name">User Name</label>
      <%= text_field_tag :settings_mail_user_name, params[:settings][:smtp_settings][:user_name] || Warehouse.smtp_settings[:user_name], 
        :size => 40, :name => 'settings[smtp_settings][user_name]' %>
    </p>
    <p>
      <label for="settings_mail_password">Password</label>
      <%= password_field_tag :settings_mail_password, params[:settings][:smtp_settings][:password] || Warehouse.smtp_settings[:password], 
        :size => 40, :name => 'settings[smtp_settings][password]' %>
    </p>
    <p>
      <label for="settings_mail_authentication">Authentication</label>
      <%= text_field_tag :settings_mail_authentication, params[:settings][:smtp_settings][:authentication] || Warehouse.smtp_settings[:authentication] || :plain, 
        :size => 40, :name => 'settings[smtp_settings][authentication]' %>
    </p>
  </fieldset>

  <fieldset id="mail_sendmail"<%= %( style="display:none") if (params[:settings][:mail_type] || Warehouse.mail_type) == 'smtp' %>>
    <legend>Sendmail Settings</legend>
    <p>
      <label for="settings_mail_location">Location</label>
      <%= text_field_tag :settings_mail_location, params[:settings][:sendmail_settings][:location] || Warehouse.sendmail_settings[:location] || '/usr/sbin/sendmail', 
        :size => 40, :name => 'settings[sendmail_settings][location]' %>
    </p>
    <p>
      <label for="settings_mail_arguments">Command Arguments</label>
      <%= text_field_tag :settings_mail_arguments, params[:settings][:sendmail_settings][:arguments] || Warehouse.sendmail_settings[:arguments], 
        :size => 40, :name => 'settings[sendmail_settings][arguments]' %>
    </p>
  </fieldset>

  <p class="btns"><%= submit_image 'save.png' %></p>
<% end -%>
</div>
