<%= render :partial => "admin/tabs" %>

<% if request.post? -%>
<div class="notice">Your settings have been saved.</div>
<% end -%>

<div class="info">
  Please see <a href="http://warehouseapp.com/faqs/what-are-these-admin-settings-for">the documentation for this page</a> to help you 
  better understand what these settings do.
</div>

<div id="commands">
<% form_tag settings_path do -%>
  <p class="command">
    <label for="permission_command">
      Shell command to run when permissions are updated
      <span class="help">When permissions are updated, this shell command is executed.</span>
    </label>
    <%= text_field_tag :permission_command, params[:permission_command] || Warehouse.permission_command, :size => 40 %>
  </p>
  <p class="command">
    <label for="password_command">
      Shell command to run when someone's password is updated.
      <span class="help">When you update a persons password, this command is executed. (e.g. rake warehouse:build_htpasswd CONFIG=config/htpasswd.conf)</span>
    </label>
    <%= text_field_tag :password_command, params[:password_command] || Warehouse.password_command, :size => 40 %>
  </p>
  <p class="command">
    <label for="mail_from">
      Email address that email notifications are sent from.
      <span class="help">Reply to/From address used when adding new members.</span>
    </label>
    <%= text_field_tag :mail_from, params[:mail_from] || Warehouse.mail_from, :size => 40 %>
  </p>
  <p class="btns"><%= submit_image 'save.png' %></p>
<% end -%>
</div>
