<h2>Repositories</h2>

<% if @repositories.any? -%>
<p>The following repositories are available:</p>

<div id="repositories">
<ul id="repos">
<% @repositories.each do |repo| -%>
  <li class="repo" id="repo-<%= repo.id %>">
    <%= link_to h(repo.name), hosted_url(repo, :changesets) %>
    <% if repo.latest_changeset -%>
      <span class="log" style="float: right">revision <%= truncate(repo.latest_changeset.revision, 7, '') %></span>
	  <span class="log">last commit by <%= repo.latest_changeset.author %>, <%= jstime repo.latest_changeset.changed_at %></span>
	<% else -%>
	  <span class="log">&nbsp;</span>
    <% end -%>
  </li>
<% end -%>
</ul>
</div>

<% else -%>
<p>No repositories are currently available.</p>
<% end -%>

<% content_for :sidebar do -%>
<% end -%>