<% content_for :admin_tab do %>
  <li id="new-repo"><%= link_to 'New Repository', 'wee' %></li>
<% end if admin? %>

<%= render :partial => "admin/tabs" %>

<% if admin? %>
  <% sheet_form_for @repository, {:trigger => 'new-repo'} do |s| %>
    <h2>Create a new repository</h2>
    <%= s.text_field 'Name:', :name %>
    <%= s.text_field 'Path:', :path %>
    <%= s.text_field 'Subdomain:', :subdomain %>
    <%= s.check_box  'Public:', 'Yes, this repository can be viewed by the public', :public %>
  <% end %>
<% end %>

<div id="repository-admin">
<ul id="repos">
<% @repositories.each do |repo| -%>
  <li class="repo" id="repo-<%= repo.id %>">
    <%= link_to h(repo.name), hosted_url(repo, :admin) %>
    <span class="log"><%= repo.path %></span>
  <% if repo.sync? %>
    <div class="need-sync" id="sync-<%= repo.id %>">
      <span id="percent-<%= repo.id %>" class="sync-percent"><%= repo.sync_progress %>%</span>

      The changeset(s)
      <%= repo.revisions_to_sync.first %><%= "-#{repo.revisions_to_sync.last}" if repo.revisions_to_sync.first != repo.revisions_to_sync.last %>
      need to be synced.
      <img id="indicator-<%= repo.id %>" src="/images/app/progress.gif" style="display:none" />
      <% v = "importer#{repo.id}" %>
      <% content_for :javascript do %>
        var <%= v %> = new Importer(<%= repo.id %>, {
          onStep: function(progress) {
            $("percent-<%= repo.id %>").update(progress + "%");
          },

          onImported: function() {
            $('sync-<%= repo.id %>').update('Finished importing!  You\'re ready to roll.');
          }
        });
      <% end -%>
    </div>
  <% end -%>
    <ul class="admin-controls">
      <% if repo.sync? %>
      <li class="sync"><a href="#" title="Begin syncing" onclick="<%= v %>.step(); $('indicator-<%= repo.id %>').show(); return false;">Sync</a></li>
      <% end %>
      <li class="edit" id="repoedit-<%= repo.id %>"><a href="#">Edit</a></li>
      <li class="del"><%= link_to_remote 'Delete', :url => repository_path(repo), :with => "'_method=delete'",
        :confirm => "Are you sure, this will clear all changes, bookmarks, and permissions.  This will NOT clear the actual repository from the server." %></li>
    </ul>
    <% sheet_form_for repo, {:trigger => "repoedit-#{repo.id}"} do |s| -%>
      <h2>Edit this Repository</h2>
      <%= render :partial => "form", :object => s %>
    <% end -%>
  </li>
<% end -%>
</ul>
</div>