<% content_for :admin_tab do %>
  <li id="new-repo"><%= link_to 'New Repository', 'wee' %></li>
<% end if admin? %>

<%= render :partial => "admin/tabs" %>

<% if admin? %>
  <% sheet_form_for @repository, {:trigger => 'new-repo'} do |s| %>
    <h2>Create a new repository</h2>
    <%= s.text_field 'Name:', :name %>
    <%= s.text_field 'Path:', :path %>
    <%= s.text_field 'Subdomain:', :subdomain %>
  <% end %>
<% end %>

<div id="repository-admin">
<ul id="repos">
<% @repositories.each do |repo| -%>
  <li class="repo" id="repo-<%= repo.id %>">
    <%=h repo.name %>
    <span class="log"><%= repo.path %></span>
    <ul class="admin-controls">
      <li class="edit" id="repoedit-<%= repo.id %>"><a href="#">Edit</a></li>
      <li class="del"><a href="#" title="Delete">Delete</a></li>
    </ul>
    <div class="sync">
      
    </div>
  </li>
  <% sheet_form_for repo, {:trigger => "repoedit-#{repo.id}"} do |s| %>
    <h2>Edit this Repository</h2>
    <%= s.text_field 'Name:', :name %>
    <%= s.text_field 'Path:', :path %>
    <%= s.text_field 'Subdomain:', :subdomain %>
  <% end -%>
<% end -%>
</ul>
</div>
