<%= render :partial => "admin/tabs" %>
<h2>Administration</h2>


<div id="repository-admin">
  <div class="repo form">
    <h3>New Repository</h3>
    <% form_for @repository do |f| -%>
      <%= render :partial => "form", :object => f %>
      <p class="btns">
        <%= submit_tag 'Add this Repository', :disable_with => 'Adding...' %>
      </p>
    <% end -%>
  </div>
<ul id="repos">
<% @repositories.each do |repo| -%>
  <li class="repo" id="repo-<%= repo.id %>">
    <%=h repo.name %>
    <span class="log"><%= repo.path %></span>
    <ul class="admin-controls">
      <li class="edit"><%= link_to_function('Edit', %($('repo-edit-#{repo.id}').toggle())) %></li>
      <li class="del"><a href="#" title="Delete">Delete</a></li>
    </ul>
  </li>
  <li class="repo repoedit" id="repo-edit-<%= repo.id %>" style="display:none">
    <% form_for repo do |f| -%>
      <%= render :partial => "form", :object => f %>
      <p class="btns">
        <%= submit_tag 'Update', :disable_with => 'Saving...' %>
        or <%= link_to_function('cancel', %($('repo-edit-#{repo.id}').toggle())) %>
      </p>
    <% end -%>
  </li>
<% end -%>
</ul>
</div>
