<%= render :partial => "admin/tabs" %>
<h2>Repository: <%=h @repository.name %></h2>

<%= error_messages_for :repository %>
<ul id="repos">
  <li class="repo repoedit" id="repo-edit-<%= @repository.id %>">
    <% form_for @repository do |f| -%>
      <p><span class="log"><label for="repository_name">Name:</label><%= f.text_field(:name, { }) %></span></p>
      <p><span class="log"><label for="repository_short_name">Short Name:</label><%=Warehouse.domain %><%= text_field_tag('short_name', @repository.subdomain) %></span></p>
      <p><span class="log"><label for="repository_public"><%= f.check_box  :public %> Yes, this repository can be viewed by the public</span></p>
      <p class="btns">
        <a href="<%=url_for :controller => :repositories %>"><img src="<%=image_path 'app/btns/cancel.png' %>" border="0" /></a>
        <%= submit_image 'save.png' %>
      </p>
    <% end -%>
  </li>
</ul>
