<div id="last-log">
    <p>
      <span class="change-number"><%= link_to @changeset.revision, @changeset %></span>
      <%=h @changeset.message %>
      <span class="message">(<%= jstime @changeset.changed_at %>)</span>
    </p>
</div>

<ul>
  <li><strong><%=h @change.name %></strong> <%= link_to_node @change.path, @change.path, @changeset.revision %></li>
</ul>

<% if @change.diffable? -%>
  <h3>Changes for <%= link_to_node @change.path, @change.node, @changeset.revision %></h3>
  <pre><%= diff_for @change %></pre>
<% end -%>