<h2>History of <%= link_to_node @node.path, @node %></h2>
<ul id="changesets">
<% @changesets.each do |changeset| -%>
<% user = @users[changeset.author] -%>
<li class="changeset clearfix history" id="changeset-<%= changeset.revision %>">
  <%= link_to_node "@#{changeset.revision}", @node, changeset.revision, :class => 'file-history' %>
  <div class="cs-meta">
    <%= avatar_for(user) %>
    <span class="change-number"><%= link_to(changeset.revision, hosted_url(:changeset, changeset.revision)) %></span>
  </div>
  <div class="cs-log clearfix">      
     <%= simple_format(h(changeset.message)) %>
    <span class="timenauthor">by <%= changeset.author %>, <%= jstime changeset.changed_at %></span>
  </div>
</li>
<% end -%>
</ul>

<%= will_paginate @changesets %>

<% content_for :sidebar do -%>
<% end -%>