<h2>History of <%= link_to_node @node.path, @node %></h2>
<ul id="changesets">
<% @changesets.each do |changeset| -%>
  <li class="changeset history">
    <p>
    <span class="change-number"><%= link_to changeset.revision, changeset %></span>
    <span class="author"><%=h changeset.author %>:</span> <%=h changeset.message %>
    <%= link_to_node "@#{changeset.revision}", @node, changeset.revision, :class => 'file-history' %>
    </p>
  </li>
<% end -%>
</ul>