<ul id="admin-nav" class="clearfix">
  <li id="nrepo"<%= class_for(admin_path) %>><%= link_to 'Repos', admin_path %></li>
  <% unless repository_subdomain.blank? -%>
  <li id="nmember"<%= class_for(permissions_path) %>><%= link_to 'Access', permissions_path %></li>
  <% end -%>
</ul>
<% unless @content_for_admin_tab.blank? -%>
<ul id="second-nav" class="clearfix">
<%= yield :admin_tab %>
</ul>
<% end -%>

