<div id="control-center">
  <form action="<%= hosted_url(:diff, "r#{@node.revision}", @node.paths) %>" id="diff-form">
  Diff this changeset:
  <select id="diff-with" name="r">
    <option value="">with...</option>
    <% unless @node.revision == current_repository.latest_revision -%>
    <option value="head"<%= %( selected="selected") if params[:r] =~ /^h/i %>>with HEAD</option>
    <% end -%>
    <% unless @node.revision == 1 -%>
    <option value="prev"<%= %( selected="selected") if params[:r] =~ /^p/i %>>with PREV</option>
    <% end -%>
    <% unless @node.revision == current_repository.latest_revision -%>
    <option value="next"<%= %( selected="selected") if params[:r] =~ /^n/i %>>with NEXT</option>
    <% end -%>
    <option value="date"<%= %( selected="selected") if params[:r] =~ /^d/i %>>with a specific date</option>
    <option value="numb"<%= %( selected="selected") if params[:r] =~ /^\d+$/i %>>with another changeset</option>
  </select>
  <input id="diff-num" name="n" value="" size="6" style="display:none" />
  <span id="diff-date"<%= %( style="display:none") unless params[:r] =~ /^d/i %>>
    <%= select_date(Date.today, :order => [:month, :day, :year]) %>
  </span>
  <input type="submit" value="Go &raquo;" id="diff-submit"<%= %( style="display:none") unless params[:r].to_s =~ /^\d+$/ %> />
  </form>
</div>