<% @fullscreen = true %>
<% content_for :scripts do %>
  <%= javascript_include_tag 'highlighter' %>
  <%= javascript_include_tag 'code/css' %>
  <%= javascript_include_tag 'code/javascript' %>
  <%= javascript_include_tag 'code/ruby' %>
  <%= javascript_include_tag 'code/html' %>
<% end %>

<% unless @message || current_changeset.nil? -%>
<div class="changeset clearfix" id="last-log">
  <div class="cs-meta">
    <%= avatar_for(current_changeset.user) %>
    <p>
      <span class="change-number"><%= link_to(current_changeset.revision, changeset_path(current_changeset.revision)) %></span>
    </p>
  </div>
  <div class="cs-log clearfix">      
     <%=h current_changeset.message %>
    <span class="timenauthor">by <%= current_changeset.author %>, <%= jstime current_changeset.changed_at %></span>
  </div>
  <ul class="changeset-nav">
    <%= %(<li class="prev"> #{link_to_node('back', @node, previous_changeset.revision)}</li>) if previous_changeset %>
    <%= %(<li class="next"> #{link_to_node('forward', @node, next_changeset.revision)}</li>) if @revision && next_changeset %>
  </ul>
</div>
<% end -%>
<div id="crumbs">
  <ul class="clearfix"><%= link_to_crumbs @node.path %></ul>
</div>

<%= render :partial => "control_center", :locals => { :node => @node } %>

<% if @node.text? -%>
    <table class="diff sourcecode file-source" cellspacing="0" cellpadding="0">
      <thead>
        <tr class="controls">
          <td>
            <div class="control-head">
              <p class="controlblock">
                <%= link_to_node 'back', @node, previous_changeset.revision, :class => 'back' if previous_changeset %>
                <%= link_to_node 'forward', @node, next_changeset.revision, :class => 'forward' if @revision && next_changeset %>
              </p>
              <ul class="formats">
                <li><%= link_to_history 'History', @node %></li>
                <li><%= link_to_history 'Blame', @node %></li>
                <li<% unless @node.text? %> class="end"<% end %>><%= link_to 'Raw', raw_path(:paths => @node.paths) %></li>
                <% if @node.text? -%><li class="end"><%= link_to 'Text', text_path(:paths => @node.paths) %></li><% end -%>
              </ul>
            </div>
          </td>
        </tr>
        <tr>
          <th><%= @node.path.split('/').last %></th>
        </tr>
      </thead>
    </table>
 <pre><span class="line-numbers">   1 </span> <span class="ControlStructures">class</span> ApplicationController &lt; ActionController::Base
<span class="line-numbers">   2 </span>   init_gettext <span class="Strings"><span class="Strings">&quot;</span>beast<span class="Strings">&quot;</span></span> <span class="ControlStructures">if</span> Object.const_defined?(<span class="Constants"><span class="Constants">:</span>GetText</span>)
<span class="line-numbers">   3 </span> 
<span class="line-numbers">   4 </span>   <span class="Keywords">include</span> <span class="Variables">ExceptionLoggable</span>, <span class="Variables">BrowserFilters</span>, <span class="Variables">AuthenticationSystem</span>
<span class="line-numbers">   5 </span>   session <span class="Constants"><span class="Constants">:</span>session_key</span> =&gt; <span class="Strings"><span class="Strings">'</span>_beast_session_id<span class="Strings">'</span></span>
<span class="line-numbers">   6 </span> 
<span class="line-numbers">   7 </span>   helper_method <span class="Constants"><span class="Constants">:</span>current_user</span>, <span class="Constants"><span class="Constants">:</span>logged_in?</span>, <span class="Constants"><span class="Constants">:</span>admin?</span>, <span class="Constants"><span class="Constants">:</span>last_active</span>
<span class="line-numbers">   8 </span>   before_filter <span class="Constants"><span class="Constants">:</span>login_by_token</span>
<span class="line-numbers">   9 </span> 
<span class="line-numbers">  10 </span>   <span class="Keywords">protected</span>
<span class="line-numbers">  11 </span>     <span class="ControlStructures">def</span> last_active
<span class="line-numbers">  12 </span>       session[<span class="Constants"><span class="Constants">:</span>last_active</span>] <span class="Operators">||=</span> Time.now.utc
<span class="line-numbers">  13 </span>     <span class="ControlStructures">end</span>
<span class="line-numbers">  14 </span>     
<span class="line-numbers">  15 </span>     <span class="ControlStructures">def</span> rescue_action(<span class="Variables">exception</span>)
<span class="line-numbers">  16 </span>       exception.is_a?(ActiveRecord::RecordInvalid) <span class="Operators">?</span> render_invalid_record(exception.record) : <span class="ControlStructures">super</span>
<span class="line-numbers">  17 </span>     <span class="ControlStructures">end</span>
<span class="line-numbers">  18 </span> 
<span class="line-numbers">  19 </span>     <span class="ControlStructures">def</span> render_invalid_record(<span class="Variables">record</span>)
<span class="line-numbers">  20 </span>       render <span class="Constants"><span class="Constants">:</span>action</span> =&gt; (record.new_record? <span class="Operators">?</span> <span class="Strings"><span class="Strings">'</span>new<span class="Strings">'</span></span> : <span class="Strings"><span class="Strings">'</span>edit<span class="Strings">'</span></span>)
<span class="line-numbers">  21 </span>     <span class="ControlStructures">end</span>
<span class="line-numbers">  22 </span> <span class="ControlStructures">end</span>
</pre>
    
<% elsif @node.image? -%>

<table class="diff sourcecode file-source" cellspacing="0" cellpadding="0">
  <thead>
    <tr class="controls">
      <td>
        <div class="control-head">
          <p class="controlblock">
            <%= link_to_node 'back', @node, previous_changeset.revision, :class => 'back' if previous_changeset %>
            <%= link_to_node 'forward', @node, next_changeset.revision, :class => 'forward' if @revision && next_changeset %>
          </p>
          <ul class="formats">
            <li><%= link_to_history 'History', @node %></li>
            <li class="end"><%= link_to 'Raw', raw_path(:paths => @node.paths) %></li>
          </ul>
        </div>
      </td>
    </tr>
    <tr>
      <th><%= @node.path.split('/').last %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td id="imagefile"><%= image_tag raw_path(:paths => @node.paths) %></td>
    </tr>
  </tbody>
</table>
<% elsif @node.exists? %>
  <p>Download <%= link_to h(@node.path), raw_path(:paths => @node.paths) %>.</p>
<% else -%>
  <p>This file does not exist.</p>
<% end -%>
