<% title "#{@node.path.to_s}" %>
<% unless @error -%>
<div class="changeset clearfix" id="last-log">
  <div class="cs-meta">
    <%= avatar_for(current_changeset.user) %>
    <p>
      <span class="change-number"><%= link_to(current_changeset.revision, changeset_path(current_changeset.revision)) %></span>
    </p>
  </div>
  <div class="cs-log">      
     <%=h current_changeset.message %>
    <span class="timenauthor">by <%= current_changeset.author %>, <%= time_ago_in_words current_changeset.changed_at %> ago</span>
  </div>
  <ul class="changeset-nav">
    <%= %(<li class="prev"> #{link_to_node('back', @node, previous_changeset.revision)}</li>) if previous_changeset %>
    <%= %(<li class="next"> #{link_to_node('forward', @node, next_changeset.revision)}</li>) if @revision && next_changeset %>
  </ul>
</div>
<% end -%>

<% if params[:paths].any? %>
<div id="crumbs"><ul class="clearfix"><%= link_to_crumbs @node.path %></li></div>
<% end %>

<% unless @error -%>
<table id="browser" cellspacing="0" cellpadding="0">
  <thead>
    <tr id="controls">
      <td colspan="2">
        <div class="control-head">
          &nbsp; <!-- Safari needs this? -->
          <% if params[:paths].any? && repository_admin? && !current_repository.bookmarks.any? { |b| b.path == @node.path } -%>
          <p class="formats rcontrols">
            <a id="bookmark" class="bookmark" href="#" title="Bookmark this directory">Bookmark This</a>
          </p>
          <% end -%>
        </div>
      </td>
    </tr>
    <tr>
      <th>File name</th>
      <th>Revision</th>
    </tr>
  </thead>
  <% @node.child_nodes.each do |node| -%>
  <tr>
    <td class="item"><%= link_to h(node.name), url_for_node(node), :class => css_class_for(node) %></td>
    <td>
      <span class="rev<% if current_repository.latest_revision == node.revision %> changed<% end %>"><%= node.revision %></span>
      Updated by <%=h node.author %> <%= time_ago_in_words node.changed_at %> ago
      <span class="log"><%= node.message %></span>
    </td>
  </tr>
  <% end -%>
</table>
<% else -%>
<p><%=h @error %></p>
<% if logged_in? -%>
  <% permissions = current_user.permissions.for_repository(current_repository) -%>
  <% if permissions.any? -%>
  <p>You have access to these paths:</p>
  <ul>
    <% current_user.permissions.for_repository(current_repository).each do |permission| -%>
    <li><%= link_to h(permission.path), browser_path(:paths => permission.paths) %></li>
    <% end -%>
  </ul>
  <% end -%>
<% end -%>
<% end -%>

<% if params[:paths].any? && repository_admin? -%>
  <% content_for :onready do %>Sheet.Cache['bookmark-sheet'] = new Sheet('bookmark-sheet', 'bookmark');<% end %>
  <% remote_form_for :bookmark, :url => bookmarks_path, :html => {:id => 'bookmark-sheet'} do |f| %>
  <div class="overlay-form oform">
    <h2>Bookmark this directory</h2>
  <p>
    <label for="bookmark_label">Label:</label> 
    <%= f.text_field :label %>
  </p>
  <p>
    <label for="bookmark_description">Description:</label>
    <%= f.text_area :description, :rows => 8 %>
  </p>
  </div>
  <p class="btns">
    <%= f.hidden_field :path %>
    <%= cancel_image(:class => 'cancelbtn') %>
    <%= submit_image 'save.png' %>
  </p>
  <% end %>
<% end -%>