<% title "#{@node.path.to_s}" %>
<% unless @message || current_changeset.nil? -%>
<div class="changeset clearfix" id="last-log">
  <div class="cs-meta">
    <%= avatar_for(current_changeset.user) %>
    <p>
      <span class="change-number"><%= link_to(current_changeset.revision, hosted_url(:changeset, current_changeset.revision)) %></span>
    </p>
  </div>
  <div class="cs-log clearfix">      
     <%= simple_format(h(current_changeset.message)) %>
    <span class="timenauthor">by <%= current_changeset.author %>, <%= jstime current_changeset.changed_at %></span>
  </div>
  <ul class="changeset-nav">
    <%= %(<li class="prev"> #{link_to_node('back', @node, previous_changeset.revision)}</li>) if previous_changeset %>
    <%= %(<li class="next"> #{link_to_node('forward', @node, next_changeset.revision)}</li>) if @revision && next_changeset %>
  </ul>
</div>
<% end -%>

<% if params[:paths].any? %>
<div id="crumbs">
  <ul class="clearfix"><%= link_to_crumbs @node.path %></ul>
</div>
<% end %>

<% unless @message -%>
<table id="browser" cellspacing="0" cellpadding="0">
  <thead>
    <tr id="controls">
      <td colspan="2">
        <div id="bookmark-control" class="control-head" style="display:none">
          &nbsp; <!-- Safari needs this? -->
          <% if params[:paths].any? && !current_repository.bookmarks.any? { |b| b.path == @node.path } -%>
          <p class="formats rcontrols">
            <a id="bookmark" class="bookmark" href="#" title="Bookmark this directory">Bookmark This</a>
          </p>
          <% end -%>
        </div>
      </td>
    </tr>
    <tr>
      <th>File name</th>
      <th>Revision</th>
    </tr>
  </thead>
  <% @node.child_nodes.each do |node| -%>
  <tr>
    <td class="item"><%= link_to h(node.name), url_for_node(node), :class => css_class_for(node) %></td>
    <td>
      <span class="rev<% if current_changeset && current_changeset.revision.to_i == node.revision %> changed<% end %>"><%= node.revision %></span>
      Updated by <%=h node.author %> <%= jstime node.changed_at.utc %>
      <span class="log"><%= h node.message %></span>
    </td>
  </tr>
  <% end -%>
</table>
<% else -%>
<p><%=h @message %></p>
<% if logged_in? -%>
  <% permissions = current_user.permissions.for_repository(current_repository) -%>
  <% if permissions.any? -%>
  <p>You have access to these paths:</p>
  <ul>
    <% current_user.permissions.for_repository(current_repository).each do |permission| -%>
    <li><%= link_to h(permission.path), hosted_url(:browser, :paths => permission.paths) %></li>
    <% end -%>
  </ul>
  <% end -%>
<% end -%>
<% end -%>

<% if params[:paths].any? && !current_repository.bookmarks.any? { |b| b.path == @node.path } -%>
  <% remote_sheet_form_for :bookmark, :url => hosted_url(:bookmarks), :trigger => :bookmark, :html => {:id => 'bookmark-sheet'} do |s| -%>
    <h2>Bookmark this directory</h2>
    <div id="bookmark-sheet-error" class="error" style="display:none"></div>
    <%= s.text_field "Label:", :label %>
    <%= s.text_area "Description:", :description, :rows => 8 %>
    <%= s.hidden_field :path %>
  <% end -%>
<% end -%>

<% content_for :sidebar do %>
<div class="sideblock">
  <h3>Activity in <%= @node.path.split('/').last || '~' %></h3>
  <ul id="recent-activity">
  <% @changesets.each do |changeset| -%>
  <li><%= link_to %(<span class="author">#{h changeset.author}:</span> #{truncate(h(changeset.message), 50)}), hosted_url(:changeset, changeset), :title => "Changeset [#{changeset.revision}] @ #{changeset.changed_at.to_s(:short)}" %></li>
  <% end -%>
  <li id="all-history"><%= link_to "Complete history &raquo;", hosted_url(:history, :paths => params[:paths]) %></li>
 </ul>
</div>
<% end unless @changesets.blank? %>

<% content_for :onready do -%>
$('bookmark-control').show();
<% end if repository_admin? -%>