<div id="last-log">
    <p>
      <span class="change-number"><%= link_to(current_revision, changeset_path(current_revision)) %></span>
      <%=h current_changeset.message %>
      <span class="message"><%= time_ago_in_words current_changeset.changed_at %> ago</span>
    </p>
</div>

<table id="browser" cellspacing="0" cellpadding="0">
  <thead>
    <tr id="controls">
      <td colspan="2">
        <div class="control-head">
          <p class="controlblock">
            <%= link_to_node 'back', @node, previous_changeset.revision, :class => 'back' if previous_changeset %>
            <%= link_to_node 'forward', @node, next_changeset.revision, :class => 'forward' if @revision && next_changeset %>
          </p>
          &nbsp; <!-- Safari needs this? -->
        </div>
      </td>
    </tr>
    <tr>
      <th>File name</th>
      <th>Revision</th>
    </tr>
  </thead>
  <% @node.child_nodes.each do |node| -%>
  <tr>
    <td class="item"><%= link_to h(node.name), url_for_node(node), :class => css_class_for(node) %></td>
    <td>
      <span class="rev<% if current_repository.latest_revision == node.revision %> changed<% end %>"><%= node.revision %></span>
      Updated by <%=h node.author %> <%= time_ago_in_words node.changed_at %> ago
      <span class="log"><%= node.message %></span>
    </td>
  </tr>
  <% end -%>
</table>