<% @fullscreen = true %>
<div id="last-log">
    <p>
      <span class="change-number"><%= link_to(current_revision, changeset_path(current_revision)) %></span>
      <%=h current_changeset.message %>
      <span class="message"><%= time_ago_in_words current_changeset.changed_at %> ago</span>
    </p>
</div>

<% if @node.text? -%>
  <p><%= link_to_crumbs @node.path %></p>
  
  <table class="diff sourcecode" cellspacing="0" cellpadding="0">
    <thead>
      <tr class="controls">
        <td>
          <div class="control-head">
            <p class="controlblock">
              <a href="#" class="back">back</a>
              <a href="#" class="forward">forward</a>
            </p>
            <p class="formats">
              <%= link_to_history 'Revision History', @node %> | 
              <%= link_to 'Raw', raw_path(:paths => @node.paths) %>
              <% if @node.text? -%>| <%= link_to 'Text', text_path(:paths => @node.paths) %><% end -%>
            </p>
          </div>
        </td>
      </tr>
      <tr>
        <th><%= @node.path.split('/').last %></th>
      </tr>
    </thead>
    <tr>
      <td>
        <div class="viewsource"><pre><code><%=h @node.content %></code></pre></div>
      </td>
    </tr>
  </table>
<% else -%>
  Not text!  <%= @node.mime_type %>
<% end -%>
