<div id="last-log">
    <p>
      <span class="change-number"><%= link_to(current_revision, changeset_path(current_revision)) %></span>
      <%=h current_changeset.message %>
      <span class="message"><%= time_ago_in_words current_changeset.changed_at %> ago</span>
    </p>
</div>

<% if @node.text? -%>
  <p><%= link_to_crumbs @node.path %></p>
  <p><%= link_to_history 'Revision History', @node %></p>
  <pre><%=h @node.content %></pre>
<% else -%>
  Not text!  <%= @node.mime_type %>
<% end -%>

<p>
  <%= link_to 'Raw', raw_path(:paths => @node.paths) %>
  <% if @node.text? -%>| <%= link_to 'Text', text_path(:paths => @node.paths) %><% end -%>
</p>