<% @fullscreen = true %>
<% content_for :scripts do %>
  <%= javascript_include_tag 'highlighter' %>
  <%= javascript_include_tag 'code/css' %>
  <%= javascript_include_tag 'code/javascript' %>
  <%= javascript_include_tag 'code/ruby' %>
  <%= javascript_include_tag 'code/html' %>
<% end %>

<% unless @message || current_changeset.nil? -%>
<div class="changeset clearfix" id="last-log">
  <div class="cs-meta">
    <%= avatar_for(current_changeset.user) %>
    <p>
      <span class="change-number"><%= link_to(current_changeset.revision, hosted_url(:changeset, current_changeset.revision)) %></span>
    </p>
  </div>
  <div class="cs-log clearfix">      
     <%=h current_changeset.message %>
    <span class="timenauthor">by <%= current_changeset.author %>, <%= jstime current_changeset.changed_at %></span>
  </div>
  <ul class="changeset-nav">
    <%= %(<li class="prev"> #{link_to_node('back', @node, previous_changeset.revision)}</li>) if previous_changeset %>
    <%= %(<li class="next"> #{link_to_node('forward', @node, next_changeset.revision)}</li>) if @revision && next_changeset %>
  </ul>
</div>
<% end -%>
<div id="crumbs">
  <ul class="clearfix"><%= link_to_crumbs @node.path %></ul>
</div>

<%= render :partial => "control_center", :locals => { :node => @node } %>

<% if @node.text? -%>
    <table class="diff sourcecode file-source" cellspacing="0" cellpadding="0">
      <thead>
        <tr class="controls">
          <td>
            <div class="control-head">
              <p class="controlblock">
                <%= link_to_node 'back', @node, previous_changeset.revision, :class => 'back' if previous_changeset %>
                <%= link_to_node 'forward', @node, next_changeset.revision, :class => 'forward' if @revision && next_changeset %>
              </p>
              <ul class="formats">
                <li><%= link_to_blame 'Blame', @node %></li>
                <li><%= link_to_history 'History', @node %></li>
                <li<% unless @node.text? %> class="end"<% end %>><%= link_to 'Raw', hosted_url(:raw, :paths => @node.paths) %></li>
                <% if @node.text? -%><li class="end"><%= link_to 'Text', hosted_url(:text, :paths => @node.paths) %></li><% end -%>
              </ul>
            </div>
          </td>
        </tr>
        <tr>
          <th><%= @node.path.split('/').last %></th>
        </tr>
      </thead>
    </table>
	<% if controller.action_name != 'blame' || Object.const_defined?(:Uv) -%>
    <%= highlight_syntax_in @node, controller.action_name == 'blame' %>
	<% else -%>
		<%= blame_for @node %>
	<% end -%>
<% elsif @node.image? -%>

<table class="diff sourcecode file-source" cellspacing="0" cellpadding="0">
  <thead>
    <tr class="controls">
      <td>
        <div class="control-head">
          <p class="controlblock">
            <%= link_to_node 'back', @node, previous_changeset.revision, :class => 'back' if previous_changeset %>
            <%= link_to_node 'forward', @node, next_changeset.revision, :class => 'forward' if @revision && next_changeset %>
          </p>
          <ul class="formats">
            <li><%= link_to_history 'History', @node %></li>
            <li class="end"><%= link_to 'Raw', hosted_url(:raw, :paths => @node.paths) %></li>
          </ul>
        </div>
      </td>
    </tr>
    <tr>
      <th><%= @node.path.split('/').last %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td id="imagefile"><%= image_tag hosted_url(:raw, :paths => @node.paths) %></td>
    </tr>
  </tbody>
</table>
<% elsif @node.exists? %>
  <p>Download <%= link_to h(@node.path), hosted_url(:raw, :paths => @node.paths) %>.</p>
<% else -%>
  <p>This file does not exist.</p>
<% end -%>
