<% content_for :admin_tab do %>
<li><%= link_to 'New Member', {}, :id => 'addmember' %></li>
<% end %>
<%= render :partial => "admin/tabs" %>

<ul id="permissions">
<% @users.each do |user| -%>
  <li class="permission" id="<%= dom_id(user) %>">
    <%=h user.name %>
    <ul class="admin-controls">
      <li id="profile-<%= dom_id user %>" class="edit"><a href="#">Edit</a></li>
      <li class="del"><%= link_to_remote('Delete', :url => user_path(user), :with => "'_method=delete'") %></li>
    </ul>
  </li>
  <% remote_sheet_form_for user, :url => user_path(user), :trigger => "profile-#{dom_id user}", :html => {:method => :put, :id => "sheet-#{dom_id user}"} do |s| %>
  <h2>Edit <%=h user.identity_path %></h2>
  <div id="error-<%= dom_id user %>" class="error" style="display:none"></div>
  <%= s.text_field "OpenID:", :identity_url %>
  <%= s.text_field 'Subversion login', :login %>
  <%= s.text_field "Email:", :email %>
  <%= s.check_box "Admin:", "Yes, this user can manage <strong>all</strong> repositories.", :admin %>
  <% end %>
<% end -%>
</ul>

<% sheet_form_for :user, :url => users_path, :html => { :id => 'add-user' }, :trigger => 'addmember' do |s| -%>
  <h2>Add a new member</h2>
  <%= s.text_field 'Subversion login', :login %>
  <%= s.text_field "Email:", :email %>
  <%= s.check_box "Admin:", "Yes, this user can manage <strong>all</strong> repositories.", :admin %>
<% end -%>

<%= will_paginate @users %>
