<% content_for :admin_tab do %>
<li><%= link_to 'New Member', {}, :id => 'addmember' %></li>
<% end %>

<%= render :partial => "admin/tabs" %>

<ul id="permissions">
<% @users.each do |user| -%>
  <li class="permission" id="<%= dom_id(user) %>">
    <%= avatar_for(user) %>
    <%=h user.name || user.identity_url %>
    <span class="log"><%= user.email %></span>
    <ul class="admin-controls">
      <li id="profile-<%= dom_id user %>" class="edit"><a href="#">Edit</a></li>
      <li class="del"><%= link_to_remote('Delete', :url => user_path(user), :with => "'_method=delete'") %></li>
    </ul>
    
  <% remote_sheet_form_for user, :url => user_path(user), :trigger => "profile-#{dom_id user}", :html => {:method => :put, :id => "sheet-#{dom_id user}"} do |s| -%>
  <h2>Edit <%=h user.name %></h2>
  <div id="error-<%= dom_id user %>" class="error" style="display:none"></div>
  <%= s.text_field 'SVN login', :login %>
  <%= s.password_field 'SVN Password:', :password, :size => 30 %>
  <%= s.password_field 'Confirm:', :password_confirmation, :size => 30 %>
  <%= s.text_field "Email:", :email %>
  <%= s.check_box "Admin:", "Yes, this user can manage <strong>all</strong> repositories.", :admin %>
  <% end -%>
  </li>
<% end -%>
</ul>

<% remote_sheet_form_for :user, :url => users_path, :html => { :id => 'add-user' }, :trigger => 'addmember' do |s| -%>
  <h2>Add a new member</h2>
  <div id="error-<%= dom_id User.new %>" class="error" style="display:none"></div>
  <%= s.text_field 'SVN login', :login %>
  <%= s.password_field 'SVN Password:', :password, :size => 30 %>
  <%= s.password_field 'Confirm:', :password_confirmation, :size => 30 %>
  <%= s.text_field "Email:", :email %>
  <%= s.check_box "Admin:", "Yes, this user can manage <strong>all</strong> repositories.", :admin %>
<% end -%>

<%= will_paginate @users %>