<%= error_messages_for :user %>
<ul id="users">
  <li class="user" id="user-<%= @user.id %>">
    <%=h(@user.name.blank? ? @user.identity_url : @user.name) %>
    <% unless @user.name.blank? -%>
    <span class="log"><%=h @user.identity_url %></span>
    <% end -%>
  </li>
  <li class="user useredit" id="user-edit-<%= @user.id %>">
    <% form_for @user, :html => { :multipart => true } do |f| -%>
      <%= render :partial => "form", :object => f %>
      <p class="btns">
        <%= submit_tag 'Save', :disable_with => 'Saving...' %>
      </p>
    <% end -%>
  </li>
</ul>