<%= render :partial => "admin_tab" %>
<% if @repositories.size > 1 %>
<h2><%=h current_repository.name %> Permissions</h2>
<% end %>
<ul id="permissions">
<% @members.each do |user, permissions| -%>
  <li class="permission" id="<%= user ? dom_id(user) : :user_anon %>">
    <%= avatar_for(user) rescue '' %>
    <%= user ? h(user.name) : "Anonymous" %>
    <% permissions.each do |permission| -%>
    <span class="log">Read<%= '/Write' if permission.full_access? %>: <%=h permission.formatted_path %></span>
    <% end -%>
    <ul class="admin-controls">
      <li id="perm-<%= permissions.first.id %>" class="edit"><a href="#">Edit</a></li>
      <li class="del"><%= link_to_function('Delete', "Permissions.removeMember('#{user ? user.id : :anon}')") %></li>
    </ul>
  </li>
  <% sheet_form_for permissions.first, :url => (user ? user_permissions_path(user) : anon_permissions_path), :trigger => "perm-#{permissions.first.id}", :html => {:method => :put} do |s| %>
  <h2>Edit <%= user ? "#{user.name}'s" : "anonymous'" %> permissions</h2>
    <% permissions = [] unless defined?(permissions) -%>
    <%= s.check_box 'Administrator', 'Yes, this user can add and delete members.', :admin %>
    <div id="svn-paths">
      <% permissions.each do |permission| -%>
        <%= path_permissions(permission) %>
      <% end -%>
    </div>
  <% end %>
<% end -%>
</ul>

  <% sheet_form_for @permission, :html => { :id => 'add-member' }, :trigger => 'addperm' do |s| -%>
    <h2>Add a new Subversion permission</h2>
    <%= s.select "Permissions for", :user_id, invitee_options_for(@invitees) %>
    <%= s.check_box 'Administrator', 'Yes, this user can add and delete members.', :admin %>
    <div id="svn-paths">
      <%= path_permissions %>
    </div>
  <% end if show_new_permission_form? -%>
  
<% content_for :sidebar do %>
<div class="sideblock">
  <h3>Access Permissions</h3>
  <p>This is where you can grant members access to your repository.  If a member doesn't show up in the dropdown, an administrator can invite them from the <%= link_to 'members', users_path %> area.  The user can also create an account with their OpenID credentials by logging into the site.</p>
  <p>Warehouse makes no distinction with read or read/write, they are only for the subversion configuration.</p>
</div>

<% if @repositories.any? -%>
 <div class="sideblock">
   <h3>Repository Access</h3>
   <ul id="repo-list-perm" class="slist">
    <% @repositories.each do |repo| %>
    <li><%= link_to h(repo.name), permissions_url(:host => repo.domain, :port => request.port) %></li>
    <% end %>
   </ul>
 </div>
<% end -%>
<% end -%>
