<%= render :partial => "admin_tab" %>
<h2><%=h current_repository.name %> Members</h2>


<ul id="permissions">
<% @members.each do |user, permissions| -%>
  <li class="permission" id="<%= user ? dom_id(user) : :user_anon %>">
    <%=h permissions.first.login %> (<%=h user.email %>)
    <% permissions.each do |permission| -%>
    <span class="log">Read<%= '-write' if permission.full_access? %>: <%=h permission.path %></span>
    <% end -%>
    <ul class="admin-controls">
      <li class="edit"><%= link_to_function('Edit', %($('permission-edit-#{user ? user.id : :anon}').toggle())) %></li>
      <li class="del"><%= link_to_function('Delete', "Permissions.removeMember('#{user ? user.id : :anon}')") %></li>
    </ul>
  </li>
  <li class="permission permissionedit form" id="permission-edit-<%= user ? user.id : :anon %>" style="display:none">
    <% form_for :permission, permissions.first, :url => (user ? user_permissions_path(user) : anon_permissions_path), :html => { :method => :put } do |f| -%>
      <%= render :partial => "form", :object => f, :locals => { :permissions => permissions } %>
      <p class="btns">
        <%= submit_tag 'Save', :disable_with => 'Saving...' %>
      </p>
    <% end -%>
  </li>
<% end -%>
</ul>

<div class="form" style="display:none" id="add-member">
  <h3>Add a new Member</h3>
  <% form_for @permission do |f| -%>
    <p>
      <label for="email">Email:</label>
      <%= text_field_tag :email, nil, :size => 30 %><br />
      (leave email and svn login info blank for anonymous access)
    </p>
    <%= render :partial => "form", :object => f %>
    <p class="btns">
      <%= submit_tag 'Create', :disable_with => 'Creating...' %>
    </p>
  <% end -%>
</div>

