<h2><%=h current_repository.name %> Permissions</h2>
<%= render :partial => "admin/tabs" %>

<ul id="permissions">
<% @members.each do |user, permissions| -%>
  <li class="permission" id="<%= user ? dom_id(user) : :user_anon %>">
    <%=h permissions.first.login %> (<%= permissions.size %>)
    <ul class="admin-controls">
      <li class="edit"><%= link_to_function('Edit', %($('permission_edit_#{user ? user.id : :anon}').toggle())) %></li>
      <li class="del"><a href="#" title="Delete">Delete</a></li>
    </ul>
  </li>
  <li class="permission permissionedit" id="permission_edit_<%= user ? user.id : :anon %>">
    <% form_for :permission, permissions.first, :url => user ? user_permissions_path(user) : anon_permissions_path do |f| -%>
      <%= render :partial => "form", :object => f, :locals => { :permissions => permissions } %>
      <p class="btns">
        <%= submit_tag 'Save', :disable_with => 'Saving...' %>
      </p>
    <% end -%>
  </li>
<% end -%>
</ul>

<div class="form">
  <h3>Add a new Member</h3>
  <% form_for :permission, @permission, :url => permissions_path do |f| -%>
    <p>
      <label for="email">Email:</label>
      <%= text_field_tag :email, nil, :size => 30 %>
    </p>
    <%= render :partial => "form", :object => f %>
    <p class="btns">
      <%= submit_tag 'Create', :disable_with => 'Creating...' %>
    </p>
  <% end -%>
</div>