<%= render :partial => "admin_tab" %>
<h2><%=h current_repository.name %> Permissions</h2>


<ul id="permissions">
<% @members.each do |user, permissions| -%>
  <li class="permission" id="<%= user ? dom_id(user) : :user_anon %>">
    <%=h permissions.first.login %><% if user -%> (<%=h user.email %>)<% end -%>
    <% permissions.each do |permission| -%>
    <span class="log">Read<%= '/Write' if permission.full_access? %>: <%=h permission.formatted_path %></span>
    <% end -%>
    <ul class="admin-controls">
      <li id="perm-<%= permissions.first.id %>" class="edit"><a href="#">Edit</a></li>
      <li class="del"><%= link_to_function('Delete', "Permissions.removeMember('#{user ? user.id : :anon}')") %></li>
    </ul>
  </li>
  <% sheet_form_for permissions.first, :url => (user ? user_permissions_path(user) : anon_permissions_path), :trigger => "perm-#{permissions.first.id}", :html => {:method => :put} do |s| %>
  <h2>Edit <%= user ? "#{user.name}'s" : "anonymous'" %> permissions</h2>
    <% permissions = [] unless defined?(permissions) -%>
    <%= s.text_field 'SVN Login:', :login %>
    <%= s.check_box 'Administrator', 'Yes, this user can add and delete members.', :admin %>
    <div id="svn-paths">
      <% permissions.each do |permission| -%>
        <%= path_permissions(permission) %>
      <% end -%>
    </div>
  <% end %>
<% end -%>
</ul>

  <% sheet_form_for @permission, :html => { :id => 'add-member' }, :trigger => 'addmember' do |s| -%>
    <h2>Add a new Subversion permission</h2>
    <%= s.text_field_tag "Email:", :email, params[:email], :size => 30 %>
    <p>(leave email and svn login info blank for anonymous access)</p>
    <%= s.text_field "SVN Login:", :login %>
    <%= s.check_box 'Administrator', 'Yes, this user can add and delete members.', :admin %>
    <div id="svn-paths">
      <%= path_permissions %>
    </div>
  <% end -%>
  
<% content_for :sidebar do %>
<% if @repositories.any? %>
 <div class="sideblock">
   <h3>Repositories</h3>
   <ul id="repo-list" class="slist">
    <% @repositories.each do |repo| %>
    <li><%= link_to h(repo.name), repository_path(repo) %></li>
    <% end %>
   </ul>
 </div>
<% end %>
<% end %>
