<%= render :partial => "admin_tab" %>
<h2>New <%=h current_repository.name %> Permission</h2>

<%= error_messages_for :permission %>
<% form_for @permission, :builder => ActiveReload::SheetFormBuilder, :id => 'member-form' do |s| -%>
  <h2>New Subversion permission for <%= @permission.user_id ? h(@permission.user.name) : "Anonymous" %></h2>
  <%= s.check_box 'Administrator', 'Yes, this user can add and delete members.', :admin %>
  <div id="svn-paths">
    <%= path_permissions %>
  </div>
  <%= s.hidden_field :user_id %>
  <%= s.buttons %>
<% end -%>

