<h2>New <%=h current_repository.name %> Permission</h2>
<%= render :partial => "admin/tabs" %>

<%= error_messages_for :user %>
<%= error_messages_for :permission %>
<div class="form">
    <h3>Add a New Member</h3>
    <% form_for :permission, @permission, :url => permissions_path do |f| -%>
      <p>
        <label for="email">Email:</label>
        <%= text_field_tag :email %>
      </p>
      <%= render :partial => "form", :object => f %>
      <p class="btns">
        <%= submit_tag 'Create', :disable_with => 'Creating...' %>
      </p>
    <% end -%>
</div>