<% @fullscreen = true %>

<%= render :partial => "browser/control_center", :locals => { :node => @node } %>

<%= unified_diff = unified_diff_for @node, :old_rev => params[:r] -%>
<% if unified_diff.blank? -%>
  <p>No diff data found for <%=h @path %> Rev <%=h @node.revision %> -&gt; <%=h params[:r] %></p>
<% end -%>