<% if repository_admin? && current_repository && current_repository.sync? -%>
<div class="info">Revisions <%= current_repository.revisions_to_sync.inspect.sub(/\.\./, '-') %> need to be synced.  You can do this from the command line or you can 
  do this in the administration user interface.  Command line syncing is much faster.</div>
<% end -%>

<% unless params[:q].blank? -%>
<h2>Changesets including the term "<%=h params[:q] %>"</h2>
<% else -%>
<h2>
  <% if current_repository %>
  Changeset activity in <%= current_repository.name %>
  <% else %>
  All Changeset activity
  <% end %>
  <% if false %>
  <p id="views">
    <a href="#" id="detail-view">Details</a> | 
    <a href="#" id="list-view">List</a>
  </p>
  <% end %>
</h2>
<% end %>

<ul id="changesets">
  <% if @changesets.any? %>
  <% @changesets.each do |changeset| -%>
    <% user = @users[changeset.author] -%>
  <li class="changeset clearfix" id="changeset-<%= changeset.revision %>">
    <div class="cs-meta">
      <%= avatar_for(user) %>
      <p>
        <span class="change-number"><%= link_to(changeset.revision, hosted_url(changeset.repository, :changeset, :id => changeset.revision)) %></span>
      </p>
    </div>
    <div class="cs-log clearfix">      
       <%= simple_format(h(changeset.message)) %>
      <span class="timenauthor">by <%= changeset.author %>, <%= jstime changeset.changed_at %></span>
    </div>
  </li>
  <% end -%>
  <% else %>
  <li>
    <div class="info">
      <h3>No Changesets available</h3>
      <p style="font-weight:normal">Either you don't have access to view changesets, or the repository you're viewing hasn't been synced or modified.</p>
    </div>
  </li>
  <% end %>
</ul>

<%= will_paginate @changesets unless @changesets.empty? %>

<% content_for :sidebar do -%>
<% if current_repository && current_repository.members.any? -%>
<div class="sideblock">
  <h3>Active Members</h3>
  <ul id="members">
    <% current_repository.members.sort_by { |m| m.last_changed_at || Time.utc(1970, 1, 1) }.reverse.each do |member| %>
    <li>
      <%= avatar_for(member) %>
      <span class="author"><%= member.name %></span>
      <span class="activity">
        <% if member.last_changed_at -%>Last commit <%= jstime member.last_changed_at %><% end -%>
      </span>
    </li>
    <% end %>
  </ul>
</div>
<% elsif repository_subdomain.blank? -%>
<div class="sideblock">
  <h3><%= 'Public ' if controller.action_name == 'public' %>Repository Activity</h3>
  <ul id="repo-list" class="slist">
    <% if @repositories.uniq.sort_by(&:name).each do |repo| -%>
    <li><%= link_to h(repo.name), hosted_url(repo, :changesets) %></li>
    <% end.empty? -%>
    <li><a>No Repositories.</a></li>
    <% end -%>
    <% if controller.action_name == 'public' -%>
    <li id="all-history"><%= link_to 'Repository activity &raquo;', root_changesets_path %></li>
    <% elsif logged_in? -%>
    <li id="all-history"><%= link_to 'All public activity &raquo;', root_public_changesets_path %></li>
    <% end -%>
  </ul>
</div>
<% end -%>
<% end -%>