<% if repository_admin? && current_repository.sync? -%>
<div class="info">Revisions <%= current_repository.revisions_to_sync.inspect.sub(/\.\./, '-') %> need to be synced.  You can do this from the command line or you can 
  do this in the administration user interface.  Command line syncing is much faster.</div>
<% end -%>

<ul id="changesets">
  <% @changesets.each do |changeset| -%>
    <% user = @users[changeset.author] -%>
  <li class="changeset clearfix" id="changeset-<%= changeset.revision %>">
    <div class="cs-meta">
      <%= avatar_for(user) %>
      <p>
        <span class="change-number"><%= link_to(changeset.revision, changeset_path(changeset.revision)) %></span>
      </p>
    </div>
    <div class="cs-log">      
       <%=h changeset.message %>
      <span class="timenauthor">by <%= changeset.author %>, <%= time_ago_in_words changeset.changed_at %> ago</span>
    </div>
  </li>
  <% end -%>
</ul>

<%= will_paginate @changesets unless @changesets.empty? %>

<% content_for :sidebar do %>
<div class="sideblock">
  <h3>Active Members</h3>
  <ul id="members">
    <% current_repository.members.each do |member| %>
    <li>
      <%= avatar_for(member) %>
      <span class="author"><%= member.login %></span>
      <span class="activity">
        <%= pluralize member.changesets_count, 'commit' %>
        <% if member.last_changed_at -%>, last one <%= time_ago_in_words member.last_changed_at %> ago<% end -%>
      </span>
    </li>
    <% end %>
  </ul>
</div>
<% end if current_repository.members.any? %>