<% @fullscreen = true %>
<% title "Changeset #{@changeset.revision}, #{h(@changeset.message)}" %>
<div id="last-log" class="clearfix">
    <p>
      <span class="change-number"><%= link_to @changeset.revision, @changeset %></span>
      <%=h @changeset.message %>
      <span class="time">(<%= time_ago_in_words @changeset.changed_at %> ago)</span>
    </p>
    <ul class="changeset-nav">
      <li class="prev"><%= link_to 'Previous Changeset', previous_changeset, :class => 'back' if previous_changeset %></li>
      <li class="next"><%= link_to 'Next Changeset', next_changeset, :class => 'forward' if next_changeset %></li>
    </ul>
</div>

<div id="control-center">
  <ul>
    <% if @changeset.changes.select(&:diffable?).any? %>
      <li id="cdiff"><%= link_to 'Complete Diff', formatted_changeset_path(@changeset, :diff) %></li>
    <% end %>
    <li>
      <label>Style:</label> 
      <select name="">
        <option value="inline">Inline</option>
        <option value="sbs">Side by side</option>
      </select>
    </li>
  </ul>
</div>

<ul id="change-list">
<% @changeset.changes.each do |change| -%>
  <li<%= cycle '', ' class="shade"' %>>
    <span class="<%=h change.name.downcase %>" title="<%= word_for_change(change.name) %>"><%= change.name %></span> 
    <%= link_to_node change.path, change.path, @changeset.revision %> <% if modified?(change.name) %> <%= link_to 'view', "##{dom_id change}", :class => 'viewdiff' %><% end %>
  </li>
<% end -%>
</ul>

<% @changeset.changes.select(&:diffable?).each do |change| -%>
  <%= diff_for change %>
<% end %>