<div id="last-log">
    <p>
      <span class="change-number"><%= link_to @changeset.revision, @changeset %></span>
      <%=h @changeset.message %>
      <span class="message">(<%= time_ago_in_words @changeset.changed_at %> ago)</span>
    </p>
</div>

<ul id="change-list">
<% @changeset.changes.each do |change| -%>
  <li<%= cycle '', ' class="shade"' %>>
    <span class="<%=h change.name.downcase %>"><%=h change.name %></span> 
    <%= link_to_node change.path, change.path, @changeset.revision %>
  </li>
<% end -%>
</ul>

<% @changeset.changes.each do |change| next unless change.diffable?; -%>
  <%= diff_for change %>
<% end -%>

<p><%= link_to 'Full diff', formatted_changeset_path(@changeset, :diff) %></p>