<div id="last-log">
    <p>
      <span class="change-number"><%= @changeset.revision %></span>
      <%=h @changeset.message %>
      <span class="message">(<%= time_ago_in_words @changeset.changed_at %> ago)</span>
    </p>
</div>

<ul>
<% @changeset.changes.each do |change| -%>
  <li><strong><%=h change.name %></strong> <%= link_to_node change.path, change.path, @changeset.revision %></li>
<% end -%>
</ul>