<% @fullscreen = true %>
<% title "Changeset #{@changeset.revision}, #{h(@changeset.message)}" %>
<% unless @message -%>
<div class="changeset clearfix" id="last-log">
  <div class="cs-meta">
    <%= avatar_for(@changeset.user) %>
    <p>
      <span class="change-number"><%= link_to(@changeset.revision, changeset_path(@changeset.revision)) %></span>
    </p>
  </div>
  <div class="cs-log">      
     <%=h @changeset.message %>
    <span class="timenauthor">by <%= @changeset.author %>, <%= time_ago_in_words @changeset.changed_at %> ago</span>
  </div>
  <ul class="changeset-nav">
    <li class="prev"><%= link_to 'Previous Changeset', previous_changeset, :class => 'back' if previous_changeset %></li>
    <li class="next"><%= link_to 'Next Changeset', next_changeset, :class => 'forward' if next_changeset %></li>
  </ul>
</div>
<% end -%>

<div id="control-center">
  <ul>
    <% if @changeset.changes.select(&:diffable?).any? %>
      <li id="cdiff"><%= link_to 'Complete Diff', formatted_changeset_path(@changeset, :diff) %></li>
    <% end %>
  </ul>
</div>

<ul id="change-list">
<%= render :partial => "changes", :locals => { :changeset => @changeset } %>
</ul>

<% @changeset.changes.select(&:diffable?).each do |change| -%>
  <%= diff_for change %>
<% end %>