<% @fullscreen = true %>
<div id="last-log" class="clearfix">
    <p>
      <span class="change-number"><%= link_to @changeset.revision, @changeset %></span>
      <%=h @changeset.message %>
      <span class="time">(<%= time_ago_in_words @changeset.changed_at %> ago)</span>
    </p>
    <ul class="changeset-nav">
      <li class="prev"><%= link_to 'Previous Changeset', previous_changeset, :class => 'back' if previous_changeset %></li>
      <li class="next"><%= link_to 'Next Changeset', next_changeset, :class => 'forward' if next_changeset %></li>
    </ul>
</div>

<ul id="change-list">
<% @changeset.changes.each do |change| -%>
  <li<%= cycle '', ' class="shade"' %>>
    <span class="<%=h change.name.downcase %>" title="<%= word_for_change(change.name) %>"><%= change.name %></span> 
    <%= link_to_node change.path, change.path, @changeset.revision %>
  </li>
<% end -%>
</ul>

<% if @changeset.changes.select(&:diffable?).each do |change| -%>
  <%= diff_for change %>
<% end.any? -%>
<p><%= link_to 'Full diff', formatted_changeset_path(@changeset, :diff) %></p>
<% end -%>