<li id="hook-#{hook.plugin_name}" class="listitem">
  <% remote_sheet_form_for :hook, hook.properties, :url => new_hook_path(:hook => hook.plugin_name), 
         :trigger => "hooknew-#{hook.plugin_name}", :html => {:id => "hooksheet-#{hook.plugin_name}"} do |s| %>
    <h2>Edit <%= hook.title %></h2>
    <% hook.properties.class.option_order.each do |option| -%>
      <% name, *desc = option.split -%>
      <%= s.text_field %(#{h name.titleize}: <span class="help">#{h desc.join(' ')}</span>), name %>
    <% end -%>
  <% end -%>
  <h3><%= link_to hook.properties.title, {} %></h3>
  <span class="log"><%=h hook.properties.notes %></span>
  <a href="#" id="hooknew-<%= hook.plugin_name %>">Add a <%= hook.title %> instance</a>
  <% @hooks[hook.plugin_name].each do |hk| -%>
    <div id="hook-#{hk.id}">
    <% remote_sheet_form_for :hook, hk.properties, :url => hook_path(hk), :method => :put,
           :trigger => "hookedit-#{hk.id}", :html => {:id => "hooksheet-#{hk.id}"} do |s| %>
      <h2>Edit <%= hook.title %></h2>
      <% hook.properties.class.option_order.each do |option| -%>
        <% name, *desc = option.split -%>
        <%= s.text_field %(#{h name.titleize}: <span class="help">#{h desc.join(' ')}</span>), name %>
      <% end -%>
    <% end -%>
      <p><%= hk.id %></p>
    </div>
  <% end if @hooks[hook.plugin_name] -%>
</li>
