<li id="hook-<%= hook.plugin_name %>" class="listitem">
  <% remote_sheet_form_for :hook, hook.properties, :url => new_hook_path(:hook => hook.plugin_name), 
         :trigger => "hooknew-#{hook.plugin_name}", :html => {:id => "hooksheet-#{hook.plugin_name}", :style => 'display:none'} do |s| %>
    <h2>Edit <%= hook.title %></h2>
    <% hook.properties.class.option_order.each do |option| -%>
      <% name, *desc = option.split -%>
      <%= s.text_field %(#{h name.titleize}:), name %>
    <% end -%>
  <% end -%>
  <h3><%= link_to hook.properties.title, {} %></h3>
  <span class="log"><%=h hook.properties.notes %></span>
  <div class="hook-help">
    <ul>
    <% hook.properties.class.option_order.each do |option| -%>
      <% name, *desc = option.split -%>
      <li>
        <p><strong><%= h name.titleize %>:</strong> <span><%= h desc.join(' ') %></span></p>
      </li>
    <% end -%>
    </ul>
  </div>
  <ul id="hook-instances">
  <% @hooks[hook.plugin_name].each do |hk| -%>
    <li id="hook-<%= hk.id %>">
      <p><%= hk.properties.title %></p>
      <ul class="admin-controls">
        <li id="hooki-<%= hk.id %>" class="edit"><a href="#">Edit</a></li>
        <li class="del"><%= link_to_function('Delete', "Hook.removeInstance('#{hk.id}')") %></li>
      </ul>
      <!-- sheet -->
      <% remote_sheet_form_for :hook, hk.properties, :url => hook_path(hk), :method => :put,
             :trigger => "hooki-#{hk.id}", :html => {:id => "hooksheet-#{hk.id}", :style => 'display:none'} do |s| %>
        <h2>Edit <%= hook.title %></h2>
        <% hook.properties.class.option_order.each do |option| -%>
          <% name, *desc = option.split -%>
          <%= s.text_field %(#{h name.titleize}:), name %>
        <% end -%>
      <% end -%>
      <!--/sheet -->
    </li>
  <% end if @hooks[hook.plugin_name] -%>
  </ul>
  <p class="add-hk"><a href="#" id="hooknew-<%= hook.plugin_name %>">Add instance</a></p>
</li>
