<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Warehouse: <%= @title rescue '' %></title>
    <%= stylesheet_link_tag 'main' %>
    <%= stylesheet_link_tag 'code' %>
    <%= javascript_include_tag 'prototype' %>
    <%= javascript_include_tag 'lowpro-lite' %>
    <%= javascript_include_tag 'moo.fx.js' %>
    <%= javascript_include_tag 'moo.fx.transitions.js' %>
    <%= javascript_include_tag 'application' %>
    <%= yield :scripts %>
    <script type="text/javascript" charset="utf-8">
      Event.onReady(function() {
        <%= cache_current_sheets(%w(login-form login), %w(reset-form reset)) %>
        <% if logged_in? %>Sheet.Cache['profile-form'] = new Sheet('profile-form', 'profile');<% end %>
        <%= yield :onready %>
      });
      <%= yield :javascript %>
    </script>
  </head>
  <body>
    <%= @onready %>
    <!-- container -->
    <div id="container">
      <% if logged_in? %>
        <% sheet_form_for current_user, :url => profile_path(:to => request.request_uri), :html => { :multipart => true, :id => 'profile-form', :method => :put }, :trigger => 'profile' do |s| -%>
          <h2>Edit your profile</h2>
          <%= content_tag 'p', flash[:error] if flash[:error] %>
          <%= s.text_field 'SVN Login:', :login, :size => 30 %>
          <%= s.text_field 'Email:', :email, :size => 30 %>
          <%= s.file_field "Profile picture:", :avatar_data %>
          <p><%= current_user.avatar_path %></p>
          <p>
            <label>Your token</label>
            <%= link_to_function "Show", "", :id => 'profile-token-link' %>
            <span id="profile-token" style="display:none"><%= current_user.token %></span>
          </p>
          <% s.submit 'save.png' %>
        <% end -%>
      <% end %>
      <!-- header -->
      <div id="header">
        <div id="hdr-cnt">
          <h1><%= link_to current_repository ? current_repository.name : "Warehouse", root_path %></h1>
          <ul id="nav">
            <% if current_repository -%>
            <li id="code"><%= link_to 'Browser', browser_path %></li>
            <% end -%>
            <li id="activity"><%= link_to 'Activity', (current_repository || logged_in? ? changesets_path : public_changesets_path) %></li>
            <% if admin? %>
            <li id="admin"><%= link_to 'Admin', admin_path %></li>
            <% end %>
          </ul>
          <ul id="utils">
            <% if logged_in? -%>
              <li id="profile"><%= link_to 'Profile', profile_path %></li>
              <li><%= link_to 'Logout', logout_path %></li>
            <% else -%>
              <li id="login"><%= link_to 'Login', '#' %></li>
            <% end -%>
          </ul>
          </div>
          <% unless logged_in? -%>
            <% sheet_form_tag login_path, :id => 'login-form' do |s| -%>
              <h2>Login with OpenID</h2>
              <%= content_tag 'p', flash[:error] if flash[:error] %>
              <%= s.text_field_tag %(OpenID: (<a href="#reset" id="reset">reset</a>)), :openid_url, params[:openid_url], :class => 'big' %>
              <%  s.submit 'login.png' %>
            <% end -%>
            
            <% sheet_form_tag reset_path, :id => 'reset-form' do |s| %>
              <h2>Reset your OpenID</h2>
              <%= s.text_field_tag 'Email you signed up with: (<a href="#login" id="openid-login">login</a>)', :email, '' %>
            <% end %>
          <% end %>
        </div>
      </div>
      <!-- /header -->
      <!-- content -->
      <div id="content" class="clearfix">
        <!-- main -->
        <div id="main"<% if @fullscreen -%> style="width:100%"<% end -%>>
          <%= yield %>
        </div>
        <!-- /main -->
        <% unless @fullscreen %>
        <!-- sbar -->
        <div id="sbar">
          <%= yield :sidebar %>
          <% if current_repository && (current_repository.public? || logged_in?) -%>
          <div id="bookmarks" class="sideblock"<%= %( style="display:none") if current_repository.bookmarks.to_a.empty? %>>
            <h3>Bookmarks</h3>
            <ul id="bookmark-list">
              <%= render :partial => "bookmarks/bookmark", :collection => current_repository.bookmarks %>
            </ul>
          </div>
          <% end -%>
        </div>
        <!-- /sbar -->
        <% end %>
      </div>
      <!-- /content -->
      <!-- footer -->
      <div id="footer">
        <a id="powered" href="http://warehouseapp.com" title="Warehouse web-based subversion browser"><img src="/images/app/warehouse-logo.png" title="Warehouse web-based Subversion Browser" alt="Warehouse logo" /></a>
      </div>
      <!-- /footer -->
      
    </div>
    <!-- /container -->
  </body>
</html>