<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Warehouse: <%= @title rescue '' %></title>
    <%= stylesheet_link_tag 'main' %>
    <%= stylesheet_link_tag 'code' %>
    <%= javascript_include_tag 'prototype' %>
    <%= javascript_include_tag 'lowpro-lite' %>
    <%= javascript_include_tag 'moo.fx.js' %>
    <%= javascript_include_tag 'moo.fx.transitions.js' %>
    <%= javascript_include_tag 'application' %>
    <%= yield :scripts %>
    <script type="text/javascript" charset="utf-8">
      Event.onReady(function() {        
        Sheet.Cache['login-form'] = new Sheet('login-form', 'login');
        <% if logged_in? %>Sheet.Cache['profile-form'] = new Sheet('profile-form', 'profile');<% end %>
        <%= yield :onready %>
      });
    </script>
  </head>
  <body>
    <%= @onready %>
    <!-- container -->
    <div id="container">
      <% if logged_in? %>
        <% sheet_form_tag login_path, :id => 'profile-form' do |s| -%>
          <h2>Edit your profile</h2>
          <%= content_tag 'p', flash[:error] if flash[:error] %>
          <%= s.text_field_tag 'Name:', :user, :name %>
          <% s.submit 'save.png' %>
        <% end -%>
      <% end %>
      <!-- header -->
      <div id="header">
        <div id="hdr-cnt">
          <h1><%= link_to current_repository ? current_repository.name : "Warehouse", root_path %></h1>
          <ul id="nav">
            <% if current_repository -%>
            <li id="code"><%= link_to 'Browser', browser_path %></li>
            <li id="activity"><%= link_to 'Activity', changesets_path %></li>
            <% end -%>
            <% if logged_in? && admin? %>
            <li id="admin"><%= link_to 'Admin', admin_path %></li>
            <% end %>
          </ul>
          <ul id="utils">
            <% if logged_in? -%>
              <li id="profile"><%= link_to 'Profile', profile_path %></li>
              <li><%= link_to 'Logout', logout_path %></li>
            <% else -%>
              <li id="login"><%= link_to 'Login', '#' %></li>
            <% end -%>
          </ul>
          </div>
          <% unless logged_in? -%>
              <% sheet_form_tag login_path, :id => 'login-form' do |s| -%>
                <h2>Login with OpenID</h2>
                <%= content_tag 'p', flash[:error] if flash[:error] %>
                <%= s.text_field_tag %(OpenID: (<a href="#reset" id="reset">reset</a>)), :openid_url, params[:openid_url], :class => 'big' %>
                <%  s.submit 'login.png' %>
              <% end -%>
          <% end %>
        </div>
      </div>
      <!-- /header -->
      <!-- content -->
      <div id="content" class="clearfix">
        <!-- main -->
        <div id="main"<% if @fullscreen -%> style="width:100%"<% end -%>>
          <%= yield %>
        </div>
        <!-- /main -->
        <% unless @fullscreen || current_repository.nil? %>
        <!-- sbar -->
        <div id="sbar">
          <div id="bookmarks" class="sideblock"<%= %( style="display:none") if current_repository.bookmarks.to_a.empty? %>>
            <h3>Bookmarks</h3>
            <ul id="bookmark-list">
              <%= render :partial => "bookmarks/bookmark", :collection => current_repository.bookmarks %>
            </ul>
          </div>
          <%= yield :sidebar %>
        </div>
        <!-- /sbar -->
        <% end %>
      </div>
      <!-- /content -->
      <!-- footer -->
      <div id="footer">
        <a href="#">Warehouse&mdash;Simple Subversion Browser</a>. Copyright &copy; 2007 Active Reload, LLC.
      </div>
      <!-- /footer -->
      
    </div>
    <!-- /container -->
  </body>
</html>