<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Warehouse</title>
    <%= stylesheet_link_tag 'main' %>
    <%= javascript_include_tag 'prototype' %>
  </head>
  <body>
    <!-- container -->
    <div id="container">
      <!-- header -->
      <div id="header">
        <div id="hdr-cnt">
          <h1><%= link_to current_repository.name, root_path %></h1>
          <ul id="nav">
            <li id="code"><%= link_to 'Browser', browser_path %></li>
            <li id="activity"><%= link_to 'Activity', changesets_path %></li>
            <% if logged_in? && admin? %>
            <li id="admin"><%= link_to 'Admin', admin_path %></li>
            <% end %>
            <% if logged_in? -%>
            <% if false %>
              <li id="profile"><%= link_to 'Profile', profile_path %></li>
            <% end %>
              <li id="logout"><%= link_to 'Logout', logout_path %></li>
            <% else -%>
              <li id="login"><%= link_to_function 'Login', %($('login-form').toggle();) %></li>
            <% end -%>
          </ul>
          </div>
          <div id="login-form" style="display:none">
            <% if flash[:error] -%>
            <p><%= flash[:error] %></p>
            <% end -%>
            <% form_tag session_path do -%>
              <p>
                <label for="openid_url">OpenID:</label>
                <%= text_field_tag :openid_url %> 
                <%= submit_tag 'Log in', :disable_with => 'Logging in...', :class => 'btn' %>
              </p>
            <% end -%>
          </div>
        </div>
      </div>
      <!-- /header -->
      <!-- content -->
      <div id="content" class="clearfix">
        <!-- main -->
        <div id="main"<% if @fullscreen %> style="width:100%"<% end %>>
          <%= yield %>
        </div>
        <!-- /main -->
        <% unless @fullscreen %>
        <!-- sbar -->
        <div id="sbar">
          <div id="bookmarks">
            <ul>
              <li>
                <h4><a href="#" title="">Attachment Fu</a></h4>
                <span class="active">Last active 5 days ago</span>
              </li>
              <li>
                <h4><a href="#" title="">Canvas Lab</a></h4>
                <span class="active">Last active today</span>
              </li>
            </ul>
          </div>
        </div>
        <!-- /sbar -->
        <% end %>
      </div>
      <!-- /content -->
      <!-- footer -->
      <div id="footer">
        <a href="#">Warehouse&mdash;Simple Subversion Browser</a>. Copyright &copy; 2007 Active Reload, LLC.
      </div>
      <!-- /footer -->
      
    </div>
    <!-- /container -->
    
  </body>
</html>