<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Warehouse</title>
    <%= stylesheet_link_tag 'main' %>
    <%= javascript_include_tag 'prototype' %>
  </head>
  <body>
    <!-- container -->
    <div id="container">
      <!-- header -->
      <div id="header">
        <div id="hdr-cnt">
          <h1><%= link_to 'Warehouse', root_path %></h1>
          <ul id="nav">
            <li id="code"><%= link_to 'Browser', browser_path %></li>
            <li id="activity"><%= link_to 'Activity', changesets_path %></li>
            <% if logged_in? -%>
             <li id="logout"><%= link_to 'Logout', logout_path %></li>
            <% else -%>
             <li id="login"><%= link_to_function 'Login', %($('login-form').toggle();) %></li>
            <% end -%>
            <% if logged_in? && admin? %>
            <li id="admin"><a href="#" title="">Admin</a></li>
            <% end %>
          </ul>
          </div>
          <div id="login-form" style="display:none">
            <% if flash[:error] -%>
            <p><%= flash[:error] %></p>
            <% end -%>
            <% form_tag session_path do -%>
              <p>
                <label for="openid_url">OpenID:</label>
                <%= text_field_tag :openid_url %> 
                <%= submit_tag 'Log in', :disable_with => 'Logging in...', :class => 'btn' %>
              </p>
            <% end -%>
          </div>
        </div>
      </div>
      <!-- /header -->
      <!-- content -->
      <div id="content">
        <!-- main -->
        <div id="main"<% if @fullscreen %> style="width:100%"<% end %>>
          <%= yield %>
          <% if logged_in? -%><p><small>Logged in as <%=h current_user.identity_url %><%= ' Admin!' if admin? %></small></p><% end -%>
        </div>
        <!-- /main -->
        <% unless @fullscreen %>
        <!-- sbar -->
        <div id="sbar">
          <div id="bookmarks">
            <ul>
              <li>
                <h4><a href="#" title="">Attachment Fu</a></h4>
                <span class="active">Last active 5 days ago</span>
              </li>
              <li>
                <h4><a href="#" title="">Attachment Fu</a></h4>
                <span class="active">Last active 5 days ago</span>
              </li>
            </ul>
          </div>
        </div>
        <!-- /sbar -->
        <% end %>
      </div>
      <!-- /content -->
    </div>
    <!-- /container -->
    
  </body>
</html>