<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>Warehouse: <%= @title rescue '' %></title>
    <%= stylesheet_link_tag 'main' %>
    <%= stylesheet_link_tag 'installer' %>
    <%= javascript_include_tag 'prototype' %>
    <%= javascript_include_tag 'lowpro-lite' %>
    <script type="text/javascript" charset="utf-8">
      Event.onReady(function() {
        <%= yield :onready %>
      });
    </script>
  </head>
  <body>
    <!-- container -->
    <div id="container">
      <!-- content -->
      <div id="content" class="clearfix">
        <!-- main -->
        <div id="main"style="width:100%">
          <%= yield %>
        </div>
        <!-- /main -->
      </div>
      <!-- /content -->
      
    </div>
    <!-- /container -->
  </body>
</html>