<h2><%=h current_repository.name %> Members</h2>
<ul id="members">
<% current_repository.memberships.each do |membership| -%>
  <li class="membership" id="<%= dom_id membership %>">
    <%=h membership.login %> has
    <%= membership.full_access? ? 'read-write' : 'write' %> access to
    <%=h membership.formatted_path %>
    <ul class="admin-controls">
      <li class="edit"><%= link_to_function('Edit', %($('membership_edit_#{membership.id}').toggle())) %></li>
      <li class="del"><a href="#" title="Delete">Delete</a></li>
    </ul>
  </li>
  <li class="membership membershipedit" id="membership_edit_<%= membership.id %>" style="display:none">
    <% form_for :membership, membership, :url => member_path(membership), :method => :put do |f| -%>
<%= render :partial => "form", :object => f %>
      <p class="btns">
        <%= submit_tag 'Save', :disable_with => 'Saving...' %> or <%= link_to_function('cancel', %($('membership_edit_{membership.id}').toggle())) %>
      </p>
    <% end -%>
  </li>
<% end -%>
  <li class="member" id="<%= dom_id @membership %>">
    Invite Member
    <% form_for :membership, @membership, :url => members_path do |f| -%>
      <p>
        <label for="email">Email:</label>
        <%= text_field_tag :email %>
      </p>
<%= render :partial => "form", :object => f %>
      <p class="btns">
        <%= submit_tag 'Create', :disable_with => 'Creating...' %>
      </p>
    <% end -%>
  </li>
</ul>