<h2>New <%=h current_repository.name %> Member</h2>
<%= error_messages_for :user %>
<ul id="members">
  <li class="member" id="<%= dom_id @user %>">
    Invite Member
    <% form_tag members_path do -%>
      <p>
        <label for="email">Email:</label>
        <%= text_field_tag :email %>
      </p>
      <p>
        <label for="login">SVN Login:</label>
        <%= text_field_tag :login %>
      </p>
      <p>
        <label>Repository Admin?: <%= check_box_tag :admin %></label>
      </p>
      <p class="btns">
        <%= submit_tag 'Create', :disable_with => 'Creating...' %>
      </p>
    <% end -%>
  </li>
</ul>