<h2>New <%=h current_repository.name %> Member</h2>
<%= error_messages_for :user %>
<ul id="members">
  <li class="member" id="<%= dom_id @user %>">
    Invite Member
    <% form_for :membership, :url =>  members_path do |f| -%>
      <p>
        <label for="email">Email:</label>
        <%= text_field_tag :email %>
      </p>
<%= render :partial => "form", :object => f %>
      <p class="btns">
        <%= submit_tag 'Create', :disable_with => 'Creating...' %>
      </p>
    <% end -%>
  </li>
</ul>